/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@font-face {
  font-family: skranji;
  src: url(fonts/Skranji.woff)
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  
  --background-grey: #fbfbfb;
  --background-white: #ffffff;
  --main-text-color: #232323;
  --tournament-green: #2b652e;
}

.sidebar-image-left {
  height: 100vh;
  flex-basis: 33%;

  background-image: url(img/geronimo-giqueaux.jpg);
  font-family: skranji, sans-serif;

}

.main {
  display: flex;
  flex-direction: column;
  flex-basis: 67%;

  background-color: var(--background-grey);
  color: var(--main-text-color);
}

.top {
  flex-basis: 33%;
  padding: 12rem 3rem 3rem 3rem;
}

.top h2:first-child {
  margin-bottom: 1.5rem;
}

.green {
  color: var(--tournament-green);
}

.form-area {
  flex-basis: auto;
  background-color: var(--background-white);

  padding: 1rem 3rem 1rem 3rem;
}

.bottom {
  flex-basis: auto;
  padding: 2rem 3rem 3rem 3rem;
}

span.italic {
  font-style: italic;
}

.signup-form-header {
  margin-bottom: 1.5rem;
}

.form-row {
  display: flex;
}

.form-element {
  display: flex;
  flex-direction: column;

  text-transform: uppercase;
  font-size: .8rem;

  margin-bottom: 1.5rem;
}

.form-element:first-child {
  margin-right: 5rem;
}

.form-element input {
  width: 17rem;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  font-size: 14px;
  padding: 7px;
}

.register-button {
  font-size: 1.1rem;
  font-weight: bold;

  color: #FFFFFF;
  background-color: var(--tournament-green);

  border: none;
  border-radius: .5rem;

  padding: 10px 40px;
  cursor: pointer;

  margin-bottom: 2rem;
}

.bottom p {
  font-size: 1.1rem;
}

.bottom .login {
  text-decoration: none;
  font-weight: bold;
  color: var(--tournament-green)
}

.bottom .login:hover {
  color: #418645
}

